# COVID19DB PROJECT (www.covid19db.org): covid19 - Mobility data


This notebook demonstrates how to connect to COVID19db Postgres database and how to access Mobility data.

In [4]:
import psycopg2
import pandas as pd
from pandas.plotting import register_matplotlib_converters 

# Connect to covid19db.org
conn = psycopg2.connect(
    host='covid19db.org',
    port=5432,
    dbname='covid19',
    user='covid19',
    password='covid19'
)
cur = conn.cursor()
cur.execute("""SELECT * FROM mobility
               WHERE countrycode='GBR' AND 
                      adm_area_1 IS NULL AND
                      adm_area_2 IS NULL
               ORDER BY date
            """)

mobility_data = pd.DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])
mobility_data.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,transit_stations,residential,workplace,parks,retail_recreation,grocery_pharmacy
0,GOOGLE_MOBILITY,2020-02-23,United Kingdom,GBR,None,None,None,3.610,-0.391,-1.033,-5.687,-0.930,-2.710
1,GOOGLE_MOBILITY,2020-02-24,United Kingdom,GBR,None,None,None,-2.725,1.755,-2.588,-10.695,-4.061,-0.893
2,GOOGLE_MOBILITY,2020-02-25,United Kingdom,GBR,None,None,None,0.770,0.468,0.715,4.260,-0.968,5.277
3,GOOGLE_MOBILITY,2020-02-26,United Kingdom,GBR,None,None,None,-0.828,0.614,0.835,7.104,0.683,-0.345
4,GOOGLE_MOBILITY,2020-02-27,United Kingdom,GBR,None,None,None,0.099,0.605,0.237,9.543,2.763,1.106